// Place all the styles related to the omikuzis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.outer {
  display: flex;
  height: 10rem;
  text-align: center;
}

.main {
  position: absolute;
  // top: 50%;
  // left: 50%;
  transform: translateY(-150%) translateX(-50%);
}